
@mixin transition($property: all, $duration: 0.2s, $ease: ease-in-out) {
  -webkit-transition: $property $duration $ease;
  -moz-transition: $property $duration $ease;
  -o-transition: $property $duration $ease;
  transition: $property $duration $ease;
}

@mixin breakpoint($point) {
  @if $point == phablet {
    @media (max-width: 768px)  { @content ; }
  }	
  @else if $point == mobileonly {
    @media (max-width: 568px)  { @content ; }
  }
}
  

//Animation for transition between components
.slide-fade-enter-active {
    @include transition()
  }
  .slide-fade-leave-active {
    @include transition()
  }
  
  .slide-fade-enter, 
  .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
  
  // Spinner for loading feedback - using in user__image
  @mixin spinner {
    width: 40px;
    height: 40px;
    background-color: #333;
  
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }